
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text" : "hide text" %> 
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images" : "hide images" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>


<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->


<% @ft_view_section[:items] = capture { %>
<% if @show_item[:items] then %>

  <!-- Items -->

  <a name="items"></a>

  <div id="show_rel_items" class="show_rel show_rel_items">                                                 <!-- div28 -->
    <div id="show_rel_items_label" class="rel_label"> Items &nbsp; <%= show_hide('show/hide','show_rel_items_value')%> </div>        <!-- div29 -->

    <div id="show_rel_items_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
        <tr>
        <th> <%= link_to 'Name', { :controller => @tag.ctrlr_name, :action => 'show', :id => @tag, :order_sublist => 'items', :order_by => 'name' }, :class => 'col_sorting_link' %> </th>
        <th> <%= link_to 'Sort Code', { :controller => @tag.ctrlr_name, :action => 'show', :id => @tag, :order_sublist => 'items', :order_by => 'sort_code' }, :class => 'col_sorting_link' %> </th>
        <th> <%= link_to("Owner", { :controller => @tag.ctrlr_name, :action => 'show', :id => @tag, :order_sublist => 'items', :order_by => 'owner' }, :class => 'col_sorting_link') %> </th>
        </tr>
        <% for item in (@items || []) %>
        <tr>
        <td class="no_lf">
        <% text = item.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to text, url_show(item), :class => "identity_link" %> 
        </td>
        <td class="no_lf">
        <% text = item.sort_code.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
    <%= text %> 
        </td>
        <td> <%= item.owner && link_to(item.owner.iname, url_show(item.owner)) %>&nbsp;</td>
        </tr>
        <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>


<% @ft_view_section_order = []
   @ft_view_section_order << :items
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

