
<!-- start toplinks -->

<table class="item_toplinks toplinks" style="margin-bottom:15px;" border="0" width="100%">
<tr>
<td class="toplinks_lhs">

<p>
 <%= js_button_to "Tabular View", params.merge(:controller => 'items', :action => 'list'), :class => "table_view_button" %>
</p>

</td>

<td class="toplinks_rhs">
</td>
</tr>
</table>

<!-- end toplinks -->

<% listtext_op = session['list_text_toggles'] ? "show text" : "hide text" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images" : "hide images" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>

<% @items.each { |obj| %>

    <div class="obj_block">
    <hr/>
<div class="block_line_item">
    <div class="block_label">Name:</div>
    <% text = obj.name.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= link_to text, url_show(obj) %>
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Created At:</div>
    <% text = obj.created_at.nil? ? "" : obj.created_at.to_datetime_image %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Updated At:</div>
    <% text = obj.updated_at.nil? ? "" : obj.updated_at.to_datetime_image %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Sort Code:</div>
    <% text = obj.sort_code.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Owner:</div>
    <div class="block_value">
        <%= link_to(obj.owner.iname, url_show(obj.owner)) if obj.owner %>
    </div>
</div>
    </div>

<% } %>

<p class="spacer">&nbsp;</p>

<p class="items_bottom_links bottom_links">
 <%= js_button_to "Tabular View", params.merge(:controller => 'items', :action => 'list'), :class => "table_view_button" %>
</p>

